h1 {
   text-align: center;
}

#subtitulo {
    color: blue;

}

.testeclass {
    font-size: 30px;
    color: red;
}

h3 {
    color:red;
    background-color: blue;
    font-size: 40px;
    font-family: cursive;
    font-weight: lighter;
    
    border: 5px dotted green;
    width: 250px;
    height: 100px;
    cursor: pointer;
}