body {
    margin: 0;
    background-color: lightgray;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 115px;

    background: #0d1c2d;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1000;
}

.titulo {
    display: flex;
    align-items: center;
    gap:20px;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 25px;

    flex: 1;
}

main {
    margin-top: 115px;
    display: flex;
    justify-content: center;
}

#sobre {
    width: 70%;
    text-align: center;
    margin-top: 10px;

}